/*@media (min-width: 1200px) {*/
	.container {
		width: 1024px;
		position: relative;
		left: 50%;
		margin-left: -512px;
	}
	.solutionBanner, .healthBanner, .ylBanner, .industryBanner, .aboutBanner, .partnerBanner, .sqBanner, .gxBanner{width:100%;height:300px;}
	